.dashboard-container {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  background: var(--color-black);
  min-height: 100vh;
}

body {
  line-height: 1.6;
  color: var(--text-color);
  /* background-color: var(--background-color); */
}

.admin-body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark-bg-primary);
  margin: 0;
  padding: 16px;
  min-height: 100vh;
  padding-top: 60px;
}

/* Main container for the dashboard */
.admin-dashboard-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Header section */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.admin-header h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

/* Grid layout for the cards */
.admin-dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

/* Individual card styling */
.admin-card {
  /* background-color: var(--color-dark-card); */
  border-radius: 12px;
  border: 2px black solid;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 24px;
}

.admin-card-header {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 12px;
  /* border-bottom: 1px solid var(--background-color); */
}

/* Spacing for items within cards */
.admin-card-content > * + * {
  margin-top: 12px;
}

.admin-card-content {
  background-color: var(--color-dark-card);
  border-radius: 8px;
  padding: 12px;
}

/* Styling for a single request or job item */
.admin-item {
  padding: 16px;
  border-radius: 8px;
  /* border: 1px solid var(--color-black); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-item-details h4 {
  margin: 0 0 4px 0;
  font-size: 16px;
  font-weight: 600;
}

.admin-item-details p {
  margin: 0;
  font-size: 14px;
}

/* Dispatch Button */
.admin-dispatch-button {
  background-color: var(--color-blue-medium); /* blue-500 */
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.admin-dispatch-button:hover {
  background-color: var(--color-blue-dark); /* blue-600 */
}

/* Team Status Indicators */
.admin-team-status {
  display: flex;
  align-items: center;
}

.admin-status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
