<ng-container *ngIf="isLogin; else signuptemplete">
	<div class="main">
		<div class=" form-container">
			<p class="title">Welcome back serviceProvider</p>
			<form class="form">
				<input type="email" class="input" [(ngModel)]="email" name="logininput" placeholder="Email"
					required="true">
				<div class="password-container">
					<input [type]="inputType" name="logininput" [(ngModel)]="password" class="password-input"
						placeholder="Password" required="true">
					<span class="show-password-icon" (click)="togglePasswordVisibility()">
						<i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
					</span>
				</div>
				<p class="page-link">
					<span class="forgot-password-link">Forgot Password?</span>
				</p>
				<div>
					<button class="form-btn" (click)="loginserviceProvider()">Log in</button>
				</div>

			</form>
			<p class="sign-up-label">
				Don't have an account? <span class="sign-up-link" (click)="isLogin=false">Sign-up</span>
			</p>
			<div routerLink="/userpage" class="page-change-container">
				<button class="page-change-button">I am an user</button>
			</div>
		</div>
	</div>
</ng-container>

<ng-template #signuptemplete>
	<div class="main">
		<div class=" form-container">
			<p class="title">Create serviceProvider account</p>
			<form class="form">
				<input type="text" class="input" [(ngModel)]="serviceProviderName" name="signupinput"
					placeholder="serviceProvider Name" required="true">
				<input type="email" class="input" [(ngModel)]="email" name="signupinput" placeholder="Email"
					required="true" required="true">
				<input type="password" class="input" [(ngModel)]="password" name="signupinput" placeholder="Password"
					required="true">
				<p class="page-link">
					<span class="forgot-password-link">Forgot Password?</span>
				</p>
				<div>
					<button class="form-btn" (click)="signupserviceProvider()">Go</button>
				</div>
			</form>
			<p class="sign-up-label">
				Have an account? <span class="sign-up-link" (click)="isLogin=true">Login</span>
			</p>
			<div routerLink="/userpage" class="page-change-container">
				<button class="page-change-button">I am an user</button>
			</div>
		</div>
	</div>
</ng-template>