<ng-container *ngIf="isLogin; else signuptemplete">
	<div class="main">
		<div class=" form-container">
			<p class="title">Welcome back Admin</p>
			<form class="form">
				<input type="text" class="input" [(ngModel)]="adminName" name="logininput" placeholder="Admin Name">
				<div class="password-container">
					<input [type]="inputType" name="logininput" [(ngModel)]="password" class="password-input"
						placeholder="Password">
					<span class="show-password-icon" (click)="togglePasswordVisibility()">
						<i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
					</span>
				</div>
				<p class="page-link">
					<span class="forgot-password-link">Forgot Password?</span>
				</p>
				<button class="form-btn" (click)="loginAdmin()">Log in</button>
			</form>
			<p class="sign-up-label">
				Don't have an account? <span class="sign-up-link" (click)="isLogin=false">Sign-up</span>
			</p>
			<div routerLink="/userpage" class="page-change-button">
				<button>I am an user</button>
			</div>
		</div>
	</div>
</ng-container>

<ng-template #signuptemplete>
	<div class="main">
		<div class=" form-container">
			<p class="title">Create Admin account</p>
			<form class="form">
				<input type="text" class="input" [(ngModel)]="adminName" name="signupinput" placeholder=" Admin Name">
				<input type="password" class="input" [(ngModel)]="password" name="signupinput" placeholder="Password">
				<p class="page-link">
					<span class="forgot-password-link">Forgot Password?</span>
				</p>
				<button class="form-btn" (click)="signupAdmin()">Go</button>
			</form>
			<p class="sign-up-label">
				Have an account? <span class="sign-up-link" (click)="isLogin=true">Login</span>
			</p>
			<div routerLink="/userpage" class="page-change-button">
				<button>I am an user</button>
			</div>
		</div>
	</div>
</ng-template>