.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-container {
  width: fit-content;
  height: fit-content;
  background-color: #151313;
  box-shadow: rgba(3, 2, 2, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  padding: 12px 15px;
  background: #f3e5e5;
  color: #000;
  max-width: 100%;
}
.password-container {
  position: relative;
  display: flex;
  max-width: 100%;
}

.password-input {
  width: 100%;
  border-radius: 20px;
  color: #000;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  padding: 12px 15px;
  background: #f3e5e5;
}

.show-password-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #747474;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.forgot-password-link {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.forgot-password-link:hover {
  color: rgb(80, 62, 211);
}

.form-btn {
  /* From Uiverse.io by nikk7007 */

  --color: #5f64a5;
  --color2: rgb(7, 5, 5);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 700;
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}
.form-btn::after,
.form-btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.form-btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.form-btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.form-btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.form-btn:hover {
  color: var(--color2);
}

.form-btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.sign-up-label {
  margin: 0;
  font-size: 11px;
  color: #747474;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 10px;
  text-decoration: underline;
  color: rgb(80, 62, 211);
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.page-change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  .page-change-button {
    width: 100%;
    --color2: #000000;
    --color: #ffffff;
    padding: 0.8em 1.75em;
    background-color: #000000df;
    border-radius: 6px;
    border: 0.3px solid var(--color);
    transition: 2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color);
  }
  .page-change-button::after,
  .page-change-button::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.5s ease-out;
    background-color: var(--color);
  }

  .page-change-button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
  }

  .page-change-button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  }

  .page-change-button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
  }

  .page-change-button:hover {
    color: var(--color2);
  }

  .page-change-button:active {
    filter: brightness(0.7);
    transform: scale(0.98);
  }
}
