<ng-container *ngIf="isLogin; else signuptemplete">
    <div class="main">
        <div class=" form-container">
            <p class="title">Welcome back User</p>
            <form class="form" autocomplete="on">
                <input type="email" class="input" [(ngModel)]="email" name="logininput" placeholder="Email"
                    required="true">
                <div class="password-container">
                    <input [type]="inputType" [(ngModel)]="password" name="logininput" class="password-input"
                        placeholder="Password">
                    <span class="show-password-icon" (click)="togglePasswordVisibility()">
                        <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                    </span>
                </div>
                <p class="page-link">
                    <span class="forgot-password-link">Forgot Password?</span>
                </p>
                <div>
                    <button class="form-btn" (click)="loginUser()">Log in</button>
                </div>
            </form>
            <p class="sign-up-label">
                Don't have an account? <span class="sign-up-link" (click)="isLogin=false">Sign-up</span>
            </p>
            <div routerLink="/adminPage" class="page-change-container">
                <button class="page-change-button">I am an service-Provider</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #signuptemplete>
    <div class="main">
        <div class=" form-container">
            <p class="title">Create User account</p>
            <form class="form" autocomplete="on">
                <input type="text" class="input" name="signupinput" [(ngModel)]="userName" placeholder="Username">
                <input type="email" class="input" name="signupinput" [(ngModel)]="email" placeholder="Email">
                <input type="password" class="input" name="signupinput" [(ngModel)]="password" placeholder="Password">
                <p class="page-link">
                    <span class="forgot-password-link">Forgot Password?</span>
                </p>
                <div>
                    <button class="form-btn" (click)="signupUser()">Go</button>
                </div>
            </form>
            <p class="sign-up-label">
                Have an account? <span class="sign-up-link" (click)="isLogin=true">Login</span>
            </p>
            <div routerLink="/adminPage" class="page-change-container">
                <button class=" page-change-button">I am a service-Provider</button>
            </div>
        </div>
    </div>
</ng-template>